{% extends "profile.html" %}

{% block content %}
<html>
 <body>
  <h1 class="title">{{f}}</h1>
  
  <form action="/command_visualize" method="GET">
      <select name="c_file">
        <option value="{{f}}" selected>{{f}}</option>
        {% for c_file in c_files %}
          <option value="{{c_file}}">{{c_file}}</option>
        {% endfor %}
      </select>
      
      <label for="x_low">Low:</label>
      <input type="text" id="x_low" name="x_low" value="{{l}}">
      
      <label for="x_high">High:</label>
      <input type="text" id="x_high" name="x_high" value="{{h}}">
      
      <input type="Submit" value="View">
  </form>

  <br>
  <div id='chart' class='chart'”></div>
</body>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>

</html>
{% endblock %}